# Welcome to Jekyll!
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Our Networks
email: orga@ournetworks.ca
description: >- # this means to ignore newlines until "baseurl:"
  Conference about the past, present, and future of building our own network infrastructures.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://ournetworks.ca" # the base hostname & protocol for your site, e.g. http://example.com
permalink: pretty
twitter_username: _ournetworks
bsky_username: ournetworks.ca
github_username: ournetworks
social_image: /images/social.png
ipfs_gateway: https://ipfs.io

# Build settings
sass:
  style: compressed
markdown: kramdown
plugins:
  - jekyll-activity-pub
  - jekyll-activity-pub-absolute-assets
  - jekyll-activity-pub-link-iframes
  - jekyll-activity-pub-assets-as-attachments
  - jekyll-activity-pub-fep-fffd-distributed-press
  - jekyll-feed
  - jekyll-redirect-from

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

exclude:
  - tmp

locale: "en"

activity_pub:
  url: "https://social.ournetworks.ca"
  hostname: "ournetworks.ca"
  username: "orga"
  public_name: "Our Networks"
  manually_approves_followers: false
  icons:
  - "images/ournetworks-social.png"
  images:
  - "images/ournetworks-banner.png"
  published: 2024-05-29 00:00:00
  updated: 2024-07-16 01:18:20

collections:
  posts:
    permalink: /posts/:title/

defaults:
  -
    scope:
      type: posts
    values:
      layout: "default"
      activity: true