---
layout: page
order: 0
title: "Feedback"
titleDisplay: "Feedback: How’d we do?"
---


<p>Help us make next year better!</p>

<p>We value your feedback as we work to improve this event. Survey responses are anonymous and no questions are required (we use formspree.io to send responses).</p>

<p>Thank you ♥︎⚑</p>

<hr />

<form action="https://formspree.io/orga@ournetworks.ca" class="form-container" method="POST">
<div class="mb-2">
  <div class="w-75">
    <fieldset id="recommend">
      <legend>How likely is it that you’d recommend Our Networks to a friend or family member?</legend>
      <div class="form-radio-range">
        {% include forms/form-radio-scale.html name="recommend" start=0 end=10 %}
        <div class="form-radio-range-label">
          <div class="range-left">Not likely at all</div>
          <div class="range-right">Extremely likely</div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<div class="mb-2">
  <div class="w-50">
    <label for="good">What was Our Networks good at?</label>
    <input type="text" id="good" class="input mb-1 w-100" name="good">
  </div>
</div>
<div class="mb-2">
  <div class="w-50">
    <label for="do-better">What could Our Networks do better?</label>
    <input type="text" id="do-better" class="input mb-1 w-100" name="do-better">
  </div>
</div>
<div class="mb-2">
  <div class="w-50">
    <label for="space">Overall, how were the venue facilities and space?</label>
    <input type="text" id="space" class="input mb-1 w-100" name="space">
  </div>
</div>
<div class="mb-2">
  <div class="w-50">
    <label for="space">How well did the remote sessions work?</label>
    <input type="text" id="remote" class="input mb-1 w-100" name="remote">
  </div>
</div>
<div class="mb-2">
  <div class="w-75">
    <fieldset id="expectations">
      <legend>Overall, how well did Our Networks meet your expectations?</legend>
      <div class="form-radio-range w50">
        {% include forms/form-radio-scale.html name="expectations" start=1 end=5 %}
        <div class="form-radio-range-label">
          <div class="range-left">Not well at all</div>
          <div class="range-right">Extremely well</div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<div class="mb-2">
  <div class="w-75">
    <label for="reason">What best describes your reason for attending Our Networks 2018?</label>
    <div class="row">
      <input list="reasons" class="input input-select" id="reason" name="reason">
    </div>
    <datalist id="reasons">
      <option value="The topic interested me">
      <option value="I wanted to contribute my skills to to a meaningful effort">
      <option value="I wanted to connect with others who care about the same issues">
      <option value="The event was recommended to me">
      <option value="Other">
    </datalist>
  </div>
</div>
<div class="mb-2">
  <div class="w-50">
    <label for="hear">How did you hear about this event?</label>
    <input type="text" id="hear" class="input mb-1 w-100" name="hear">
  </div>
</div>
<div class="mb-2">
  <div class="w-75">
    <fieldset id="future">
      <legend>How likely do you see yourself engaging in another Our Networks event in the future?</legend>
      <div class="form-radio-range w50">
        {% include forms/form-radio-scale.html name="future" start=1 end=5 %}
        <div class="form-radio-range-label">
          <div class="range-left">Not well at all</div>
          <div class="range-right">Extremely well</div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<div class="mb-2">
  <div class="w-75">
    <fieldset id="future-notus">
      <legend>How likely do you see yourself engaging in a similar event with another organization in the future?</legend>
      <div class="form-radio-range w50">
        {% include forms/form-radio-scale.html name="future-notus" start=1 end=5 %}
        <div class="form-radio-range-label">
          <div class="range-left">Not well at all</div>
          <div class="range-right">Extremely well</div>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div class="mb-2">
  <div class="w-75">
    <fieldset id="future-work">
      <legend>How likely do you see yourself working independently on the same topics?</legend>
      <div class="form-radio-range w50">
        {% include forms/form-radio-scale.html name="future-work" start=1 end=5 %}
        <div class="form-radio-range-label">
          <div class="range-left">Not well at all</div>
          <div class="range-right">Extremely well</div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<div class="mb-2">
  <div class="w-75">
  <label for="demo-age">What is your age?</label>
  <div class="row">
    <input list="ages" id="demo-age" class="input input-select" name="demo-age">
  </div>
  <datalist id="ages">
    <option value="Under 13 years old">
    <option value="13 – 17 years old">
    <option value="18 – 24 years old">
    <option value="25 – 34 years old">
    <option value="35 – 44 years old">
    <option value="45 – 54 years old">
    <option value="55 – 64 years old">
    <option value="65 – 74 years old">
    <option value="75 years or older">
  </datalist>
  </div>
</div>
<div class="mb-2">
  <div class="w-75">
  <label for="demo-gender">What is your gender?</label>
  <div class="row">
    <input list="genders" id="demo-gender" class="input input-select" name="demo-gender">
  </div>
  <datalist id="genders">
    <option value="Prefer not to say">
    <option value="Non-binary">
    <option value="Woman">
    <option value="Man">
    <option value="Other">
  </datalist>
  </div>
</div>
<div class="mb-2">
  <div class="w-75">
  <label for="demo-equity-group">Do you identify as a member of an equity-seeking group?</label>
  <div class="row">
    <input list="equity-groups" id="demo-equity-group" class="input input-select" name="demo-equity-group">
  </div>
  <datalist id="equity-groups">
    <option value="Persons of Colour">
    <option value="Persons with Disabilities and Persons living with Mental Illness">
    <option value="Indigenous or Aboriginal (First Nations, Inuit and Métis)">
    <option value="2SLGBTQIAP">
    <option value="Women">
  </datalist>
  </div>
</div>
<div class="row form-group last">
  <input type="submit" name="submit" value="Submit Feedback" class="button button-primary">
</div>
<input type="hidden" name="_format" value="plain">
<input type="hidden" name="_subject" value="feedback submitted">
<input type="hidden" name="_next" value="//ournetworks.ca/feedback?feedback=confirmed">
</form>
