<div style="margin-bottom: 2.25em;">
  <span style="font-size: 4.85rem; line-height: 1.2; font-weight: 600;">July 13–18, 2018</span><br />
  <span style="font-size: 3.5rem; line-height: 1.2;">{{ site.title }}</span><br />
  <h1>{{ page.subtitle }}</h1>
  <h2>Toronto, Ontario</h2>
</div>

<!-- Event hero section -->
<section class="sections row featurette-events-row">
  <div class="four columns">
    <h3>Kickoff Yami-ichi</h3>
    <span>Friday • 13</span>
    <p>Network field trips and Toronto's first internet yami-ichi</p>
  </div>
  <div class="four columns">
    <h3>Conference</h3>
    <span>Saturday, Sunday • 14, 15</span>
    <p>Our main event, a weekend full of talks, demos, and workshops</p>
  </div>
  <div class="four columns">
    <h3>Sprints</h3>
    <span>Monday–Wednesday • 16–18</span>
    <p>Last 3 days are in-person, collaborative project sprints</p>
  </div>
</section>
