<h1>July 13–18, 2018</h1>
<h2>{{ site.title }}</h2>
<h3>{{ page.subtitle }}</h3>
<h4>Toronto, Ontario</h4>

<!-- Event hero section -->
<section class="sections row featurette-events-row">
  <div class="four columns">
    <h3>Kickoff Yami-ichi</h3>
    <h4>Friday {% include graphics/bullet.svg %} 13</h4>
    <p>Network field trips and Toronto's first internet yami-ichi</p>
  </div>
  <div class="four columns">
    <h3>Conference</h3>
    <h4>Saturday, Sunday {% include graphics/bullet.svg %} 14, 15</h4>
    <p>Our main event, a weekend full of talks, demos, and workshops</p>
  </div>
  <div class="four columns">
    <h3>Sprints</h3>
    <h4>Monday–Wednesday {% include graphics/bullet.svg %} 16–18</h4>
    <p>Last 3 days are in-person, collaborative project sprints</p>
  </div>
</section>
