<div class="splash-hero">
  <div class="container">
  <header>
    <h2 style="margin-bottom: 0;">July 13–18, 2018</h2>
    <h1 style="margin-bottom: 0;">{{ site.title }}</h1>
    <h1 style="margin-bottom: 0;">Beyond DIY: Do It With Others </h1>
    <h3 style="margin-bottom: 1.3em; margin-top: 0;">Toronto, Ontario</h3>
  </header>
  <!-- Event hero section -->
  <section>
    <div class="feature">
      <a class="splash-link" href="/yami-ichi/"><h4 class="splash-heading">Internet Yami-ichi {% include graphics/bullet.svg %} 13</h4></a>
      <p>Kickoff with network field trip and Toronto&rsquo;s first Yami-ichi</p>
    </div>
    <div class="feature">
      <a class="splash-link" href="/conference/"><h4 class="splash-heading">Conference {% include graphics/bullet.svg %} 14, 15</h4></a>
      <p>A weekend full of talks, demos, and workshops</p>
    </div>
    <div class="feature">
      <a class="splash-link" href="/sprints/"><h4 class="splash-heading">Sprints {% include graphics/bullet.svg %} 16–18</h4></a>
      <p>Last 3 days are in-person collaborative project sprints</p>
    </div>
  </section>
  </div>
</div>
