<div class="typing">
  <p>On 2019-02-14 12:41 a.m., someone smarter than us wrote:</p>
  <p>></p>
  <p>> "Maybe the <strong>real</strong> mesh network is the friends we made along the</p>
  <p>> way" &mdash; Max Veytsman, Our Networks 2018</p>
  <p>></p>
  <p>> "<strong>Resistance</strong> is constructing everything that we need to maintain</p>
  <p>> the life of our people" &mdash; Zapatista community member quoted in</p>
  <p>> Sylvia Federici, <strong>Re-enchanting</strong> the World, 2018</p>
  <p>></p>
  <p>> "On one hand... [we live in] an always-almost-falling-apart world.</p>
  <p>> On the other, a world in constant process of fixing and</p>
  <p>> <strong>reinvention</strong>, <strong>reconfiguring</strong> and <strong>reassembling</strong> into new combinations</p>
  <p>> and new possibilities&ndash;a topic of both hope and concern...</p>
  <p>> The fulcrum of these two worlds is <strong>repair</strong>:</p>
  <p>> the subtle acts of care by which order and meaning in complex</p>
  <p>> sociotechnical systems are maintained and transformed, human</p>
  <p>> value is preserved and extended"</p>
  <p>> &mdash; Steve Jackson, <strong>Rethinking</strong> <strong>Repair</strong>, 2014</p>
  <p>></p>
  <p>> "The <strong>repair</strong> or <strong>replacement</strong> of broken infrastructure is...</p>
  <p>> necessary for any form of sociality to extend itself"</p>
  <p>> &mdash; Laura Berlant, The Commons: Infrastructures for Troubling</p>
  <p>> Times, 2016</p>
  <p>></p>
  <p>> "values are the facts of the future... Our world was shaped by</p>
  <p>> the values that presided over its creation. Technologies are the</p>
  <p>> crystallized expression of those values."</p>
  <p>> &mdash; Andrew Feenberg, Technosystems, 2017</p>
  <p>></p>
  <p>> "Being the change you want to see in the world does not imply a</p>
  <p>> complete <strong>rejection</strong> of society, it means to stay in the zone of</p>
  <p>> creative tension between the ideal vision and the way the world</p>
  <p>> works right now."</p>
  <p>> &mdash; elavoie, %VrIfAveLw0qsGdy2JXne9lxt7P6vxMCtNLyziqYewA8=.sha256</p>
  <p>> on SSB, 2019</p>
  <p>></p>
</div>
