<header>
  <p class="mb-1">{{ include.event.date | date: "%b %d, %Y" }}</p>
  <h5 class="event-title mb-05 mt-0">{% if include.event.url %}<a href="{% if include.event.redirect_to %}{{ include.event.redirect_to }}{% else %}{{ include.event.url }}{% endif %}">{% endif %}{{ include.event.title }}{% if include.event.url %}</a>{% endif %}</h5>
  <div class="event-time-location">
    <div class="event-meta mb-05">
      <p class="mb-0">{{ include.event.startTime | date:"%-I:%M%P" }} – {{include.event.endTime | date:"%-I:%M%P"}} {{ include.event.timeZone }}</p>
      </div>
  </div>
</header>
<div class="flex-direction-column">
  {% capture event_title %}{{ include.event.title }}{% endcapture %}
  {% capture event_start %}{{ include.event.date | date: "%Y%m%d" }}T{{ include.event.startTime | date:"%H%M%S" }}{% endcapture %}
  {% capture event_end %}{{ include.event.date | date: "%Y%m%d" }}T{{ include.event.endTime | date:"%H%M%S" }}{% endcapture %}
  {% capture event_location %}{{ include.event.location }}{% endcapture %}
  {% capture event_description %}{{ include.event.text | strip }} For details: {{ include.event.url|strip | prepend: site.url }}{% endcapture %}

  <div class="mt-1">
    {{ include.event.description | markdownify }}
  </div>
</div>
