<footer class="footer mt-2 mb-2 pb-s pt-s w-main">
  <div class="container flex">
    <div class="w-50">
      <p><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener">@{{ site.twitter_username }}</a></p>

      <p><a href="{% link code-of-conduct.md %}">Code of Conduct</a>, email <a href="mailto:coc@ournetworks.ca">coc@ournetworks.ca</a></p>
      <p></p>

      <p><a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
    </div>
  </div>
</footer>
