<div class="stream-container">
  <video id="live" class="video-js vjs-default-skin vjs-big-play-centered" data-setup='{"fluid": true}'
   controls preload autoplay loop>
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</p>
  </video>

  <div class="stream-selector" id="StreamSelecter">
    <div id="SelectStream">
      <h2>Select Source</h2>
      <div class="stream-selector-options">
        <div id="ipfsStream">
          <button class="stream-option ipfs-stream">
            <span class="button-label">IPFS</span><br>
            <img src="/images/video/ipfs-logo.svg" width="125" alt="IPFS logo" />
          </button>
        </div>
        <div id="httpStream">
          <button class="stream-option http-stream">
            <span class="button-label">HTTP</span><br>
            <img src="/images/video/internet.svg" width="125" alt="Internet graphic" />
          </button>
        </div>
      </div>
    </div>
    <div id="LoadingStream" style="display:none;">
      {% include graphics/loader-animation.svg %}
      <h3 id="loadingTitle">Locating stream...</h3>
      <div class="stream-message" id="msg"></div>
    </div>
  </div>
</div>

<script src="/js/vendor/video.min.js"></script>
<script src="/js/live-stream-embed.js"></script>
