<div class="nav-vertical bg-white {% if page.navBottom %}relative{% else %}sticky{% endif %}">
  <nav class="nav">
    <ul class="menu flex">
      {% assign currentTitle = page.title %}
      {% assign current = page.url %}
      {% assign sorted_pages = site.pages | sort: "order" %}
        {% for page in sorted_pages %}
           {% if page.order > 0 and page.parent == nil %}
             <li class="nav-item-wrapper flex {% if page.titleDisplay == 'Registration' %}bg-yellow{% endif %}">
               <a class="color-white flex fw-bold nav-item {% if current != '/' %}{% if page.url == current %}active{% endif %}{% endif %} {% if page.titleDisplay == 'Registration' %}w-100{% endif %}"
                  href="{% if page.content.size > 1 %}{{ page.url }}{% else %}{% if page.redirect_to %}{{ page.redirect_to }}{% endif %}{% endif %}" aria-label="{{ page.title }}">
                  {% if page.titleDisplay %}{{ page.titleDisplay }}{% else %}{% endif %}
               </a>
                {% assign sorted2_pages = site.pages | sort: "order" %}
                 <ul class="flex p-0 m-0 ls-none flex-align-center flex-justify-center">
                    {%- for page2 in sorted2_pages -%}
                      {% if page.title == page2.parent %}
                      <li><a class="nav-item flex fw-bold flex-align-baseline {% if current != '/' %}{% if page2.url == current %}active{% endif %}{% endif %}" href="{% if page2.redirect_to %}{{ page2.redirect_to }}{% else %}{{ page2.url }}{% endif %}" aria-label="{% if page2.titleDisplay %}{{ page2.titleDisplay }}{% else %}{{ page2.title }}{% endif %}">{% if page2.titleDisplay %}{{ page2.titleDisplay }}{% else %}{{ page2.title }}{% endif %}</a></li>
                      {% endif %}
                    {%- endfor -%}
                 </ul>
             </li>
           {% endif %}
      {% endfor %}
    </ul> <!-- .nav -->
  </nav>
</div>
