<p>
  <strong id="{{ organizer.organizerID }}">{{ organizer.name }}</strong>&nbsp;{% if organizer.bio %}{{ organizer.bio }}{% endif %}
</p>
{% if organizer.link or organizer.twitter or organizer.github %}
  <ul class="flex flex-wrap p-0 bio-sm-list">
   {%- if organizer.link -%}<li class="bio-sm-list-item"><a href="https://{{ organizer.link }}" target="_blank" rel="noopener" data-proofer-ignore>{% include icons/link.svg %}&nbsp;{{ organizer.link }}</a></li>{%- endif -%}
   {%- if organizer.twitter -%}<li class="bio-sm-list-item"><a href="https://twitter.com/{{ organizer.twitter }}" target="_blank" rel="noopener">{% include icons/twitter.svg %}&nbsp;{{ organizer.twitter }}</a></li>{%- endif -%}
   {%- if organizer.github -%}<li class="bio-sm-list-item"><a href="https://github.com/{{ organizer.github }}" target="_blank" rel="noopener">{% include icons/github.svg %}&nbsp;{{ organizer.github }}</a></li>{%- endif -%}
  </ul>
{% endif %}
