{%- if presenter.link or presenter.bio -%}
<div class="presenter program-block content-width">
  <a class="program-block-anchor" id="{{ presenter.presenterID }}"></a>
  <div class="program-block-content p-1">
    <header>
      <h3 class="presenter-name heading mb-05">{{ presenter.name }}</h3>
    </header>
    <div class="presenter-bio fs-medium">
      {%- if presenter.bio -%}<p>{{ presenter.bio }}</p>{%- endif -%}
        {%- if presenter.link -%}
        <ul class="bio-sm-list pl-0 flex mono mb-0">
         {%- if presenter.link and presenter.linkDisplay -%}<li class="bio-sm-list-item"><a href="{{ presenter.link }}" target="_blank" rel="noopener" {% if presenter.linkIgnore %}data-proofer-ignore{% endif %} >{{ presenter.linkDisplay }}</a></li>{%- endif -%}
          {%- if presenter.link2 and presenter.linkDisplay2 -%}<li class="bio-sm-list-item"><a href="{{ presenter.link2 }}" target="_blank" rel="noopener" {% if presenter.linkIgnore2 %}data-proofer-ignore{% endif %} >{{ presenter.linkDisplay2 }}</a></li>{%- endif -%}
        </ul>
        {%- endif -%}
        {%- if presenter.twitter or presenter.github -%}
          <ul class="bio-sm-list pl-0 flex mono mb-0 mt-1">
            {%- if presenter.twitter -%}<li class="bio-sm-list-item">
            <p class="mb-0 fs-small">Twitter</p>
            <a href="https://twitter.com/{{ presenter.twitter }}" target="_blank" rel="noopener">@{{ presenter.twitter }}</a></li>{%- endif -%}
           {%- if presenter.github -%}<li class="bio-sm-list-item">
            <p class="mb-0 fs-small">GitHub</p>
            <a href="https://github.com/{{ presenter.github }}" target="_blank" rel="noopener">{{ presenter.github }}</a></li>{%- endif -%}
          </ul>
        {%- endif -%}
    </div>
    <button class="session-jump none mt-2 compact bg-black color-white">Back to session</button>
  </div>
</div>
{%- endif -%}
