{%- if presenter.name -%}
<div class="presenter program-block">
  <div class="program-block-content p-1" id="{{ presenter.presenterID }}">
    <header class="leading-relaxed">
      <h3 class="presenter-name heading mb-0 text-base">{{ presenter.name }}</h3>
      {%- if presenter.affiliation -%}
      <h4 class="mt-0 font-normal text-sm mb-1">{{ presenter.affiliation}}</h4>
      {%-endif -%}
      {%- if presenter.socialMedia -%}
        <div class="mb-1">
          {%for link in presenter.socialMedia%}
            <a href="{{link.url}}" target="_blank">{{link.text}}</a>{% if forloop.last %}{% else %}, {% endif %}
          {% endfor %}
        </div>
      {%- endif -%}
    </header>
    {%- if presenter.bio -%}
    <div class="presenter-bio">
      <p>{{ presenter.bio }}</p>
    </div>
    {%- endif -%}
    <div class="presenter-links flex gap-4">
      {%- if presenter.link -%}
      <div>
        <ul class="list-none pl-0 mt-0">
          {%- for link in presenter.link -%}
          <li class="bio-sm-list-item">
            <a href="{{link.url}}" target="_blank">{{link.text}}</a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
      {%- endif -%}
    </div>
  </div>
</div>
{%- endif -%}
