### Registration
{: .mt-0.mb-0.heading-3}

| Admission              | Price* | Details |
|:-----------------------|:------|:--------|
| _Reduced Cost_           | $10 | For those who are unwaged, a student, or otherwise in need of a reduced cost registration. |
| _Supporter_              | $35 | Consider registering as a supporter to allow us to put sponsorship money toward our other operating costs. |
| _Organization Supporter_ | $80 | Consider registering as organization supporter if your organization is paying or your registration will be reimbursed. |

<a class="button color-black w-100 text-center" href="https://www.brownpapertickets.com/event/4710809">Register on Brown Paper Tickets</a>

<p class="lh-0 fs-small"><em>*Brown Paper Tickets charges CA$0.99 + 5.0% of the ticket price in buy fees.</em></p>