<div>
  <button class="absolute top-0 right-0 square-1 p-0 flex flex-align-center" id="close-panel" aria-label="Close Registration Modal">
    {% include icons/close.svg %}
  </button>
</div>

### Registration
{: .mt-0.heading-2-5.fw-normal#panel-registration}

We have three admission levels: Organization Supporter, Supporter, and Reduced Cost. While the cost for us to host this event is $78 per person, we want to ensure all can attend. We are looking for volunteers (in return for complimentary admission) and are able to offer a limited number of scholarships, please contact us at [{{ site.email }}](mailto:{{ site.email }})
{: #panel-description}

| Admission              | Price* | Details |
|:-----------------------|:------|:--------|
| Organization Supporter | $110 | If your org or company is paying or your registration can be reimbursed, consider registering as organization supporter. This allows us to offer reduced cost admissions and scholarships. |
| Supporter              | $60 | The suggested admission for those employed or otherwise financially comfortable. At this rate we can sustain the event. |
| Reduced Cost           | $25 | A lower cost admission for those who are unwaged, a student, or otherwise in need of a reduced cost. |

<a class="button button-primary w-100 text-center" href="https://www.brownpapertickets.com/event/4308694">{% include icons/ticket.svg %}&nbsp;&nbsp;Register on Brown Paper Tickets</a>

<small><em>*Brown Paper Tickets charges CA$0.99 + 5.0% of the ticket price in buy fees.</em></small>