{%- for session in site.data.sessions -%}
  {%- if include.session-id == session.sessionID -%}
  <div class="session">
    <header>
      <h5 class="session-title heading">
        {%- unless session.sessionType == "orga" -%}<a href="#{{ session.title | truncatewords: 3, '' | downcase | replace: ' ', '-' }}">{%- endunless -%}
          {{ session.title }}
        {%- unless session.sessionType == "orga" -%}</a>{%- endunless -%}
      </h5>
      {% if session.presenter %}<h6>{{ session.presenter }}</h6>{% endif %}
    </header>
  </div>
  {%- endif -%}
{%- endfor -%}
