{%- for session in site.data.sessions[include.year] -%}
  {%- if include.session-id == session.sessionID -%}
    <div class="session">
      <header>
        <h5 class="session-title"><a href="{{ session.descriptionLink }}">{{ session.title }}</a></h5>
        {% if session.location %}
          <h6 class="session-location mt-05">
            <a href="{{ session.locationLink }}">{{ session.location }}</a>
          </h6>
        {% endif %}
      </header>
      <div>
        {{ session.description }}
      </div>
    </div>
  {%- endif -%}
{%- endfor -%}
