<div class="session">
  <header>
    <h5 class="session-title mb-1 mt-0">Exhibited works</h5>
  </header>
  {% assign presenters = site.data.presenters[include.year] %}
  <ul class="p-0 ls-none flex flex-wrap mb-0">
    {% assign sortedSessions = site.data.sessions[include.year] | sort_natural: "title" %}
    {%- for session in sortedSessions -%}
      {%- if session.sessionType contains "exhibit" and session.sessionID != 20005 -%}
      <li class="mt-05 w-50 pr-1">
        <h5 class="m-0">
          {% if session.sessionLink %}
            <a href="{{ session.sessionLink }}" target="_blank" title="Visit work at {{ session.sessionLink }}">{{ session.title }}</a>
          {% else %}
            <a id="{{ session.title | truncatewords: 6, '' | downcase | replace: ':', '' | replace: ' ', '-' }}-schedule" href="#{{ session.title | truncatewords: 6, '' | downcase | replace: ':', '' | replace: ' ', '-' }}">{{ session.title }}</a>
          {% endif %}
        </h5>
        {% assign presenterCount = session.presenterID.size %}
        <h6 class="fw-normal session-presenterID mono fs-small mt-05 mb-1">
        {%- for presenterID in session.presenterID -%}
          {%- for presenter in presenters -%}
            {%- if presenter.presenterID == presenterID -%}
              {% assign name = presenter.name %}
            {%- endif -%}
          {%- endfor -%}
          {% assign presenterCount = presenterCount | minus:1 %}
          {{ name }}{%- if presenterCount > 0 -%}, {%- endif -%}
        {%- endfor -%}
        </h6>
        {% if session.sessionLink %}
          <p><a class="fs-small fw-normal mono" id="{{ session.title | truncatewords: 6, '' | downcase | replace: ':', '' | replace: ' ', '-' }}-schedule" href="#{{ session.title | truncatewords: 6, '' | downcase | replace: ':', '' | replace: ' ', '-' }}">Read more</a></p>
        {% endif %}
      </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>