<div class="session-video-detail six columns">
  <div class="video-thumbnail">
    <a href="/video/?ipfs={{ session.ipfs720 }}" title="View {{ session.title }}">
      <div class="video-overlay">
        {% include graphics/video/play-graphic.svg %}
      </div>
      <img src="https://img.youtube.com/vi/{{ session.youtube }}/maxresdefault.jpg" alt="Video thumbnail for {{ session.title }}" />
    </a>
  </div>
  <header class="session-header">
    <h3 class="session-title heading">{{ session.title }}</h3>
    {%- if session.presenterID -%}
      <h4 class="session-presenter session-heading-small">
        {% assign presenters = site.data.presenters %}
        {% assign presenterCount = session.presenterID.size %}
        {%- for presenterID in session.presenterID -%}
          {%- for presenter in presenters -%}
            {%- if presenter.presenterID == presenterID -%}
              {% assign name = presenter.name %}
            {%- endif -%}
          {%- endfor -%}
          {% assign presenterCount = presenterCount | minus:1 %}
          <a href="/conference/program/#{{ presenterID }}">{{ name }}</a>{%- if presenterCount > 0 -%}{{ ' / ' }}{%- endif -%}
        {%- endfor -%}
      </h4>
    {%- endif -%}
  </header>
  <div class="video-caption">
    <p>{{ session.description | truncatewords: 20 }}
      {%- unless session.sessionType == "orga" -%}
        <span class="read-more">
        <a href="/conference/program/#{{ session.title | truncatewords: 6, '' | downcase | replace: ':', '' | replace: ' ', '-' }}" rel="noopener">See session description</a></span>
      {%- endunless -%}
    </p>
    <div class="video-links-container">
      <h5 class="session-heading-small">Watch elsewhere:</h5>
      {%- if session.ipfs720 or session.ipfs1080 or session.youtube -%}
        <ul class="video-links">
         {%- if session.ipfs720 -%}<li class="video-links-item"><a href="http://ipfs.io/ipfs/{{ session.ipfs720 }}" target="_blank" rel="noopener">{% include icons/ipfs.svg %}&nbsp;<code>[&nbsp;720p]</code>ipfs://{{ session.ipfs720 }}</a></li>{%- endif -%}
         {%- if session.ipfs1080 -%}<li class="video-links-item"><a href="http://ipfs.io/ipfs/{{ session.ipfs1080 }}" target="_blank" rel="noopener">{% include icons/ipfs.svg %}&nbsp;<code>[1080p]</code>ipfs://{{ session.ipfs1080 }}</a></li>{%- endif -%}
         {%- if session.youtube -%}<li class="video-links-item"><a href="https://youtu.be/{{ session.youtube }}" target="_blank" rel="noopener">{% include icons/youtube.svg %}&nbsp;youtu.be/{{ session.youtube }}</a></li>{%- endif -%}
        </ul>
      {%- endif -%}
    </div>
  </div>
</div>
