{%- for session in site.data.sessions[include.year] -%}
  {%- if include.session-id == session.sessionID -%}
  <div class="session">
      <h3 class="text-base m-0 font-normal">
        <a href="#{{ session.title | slugify }}">{{ session.title }}</a>
      </h3>
      {% if session.presenterID %}
        <a href="#{{ session.presenterID }}" class="session-presenterID text-base m-0 font-normal">
          {% assign presenters = site.data.presenters[include.year] %}
          {% assign presenterCount = session.presenterID.size %}
          {%- for presenterID in session.presenterID -%}
            {%- for presenter in presenters -%}
              {%- if presenter.presenterID == presenterID -%}
                {% assign name = presenter.name %}
              {%- endif -%}
            {%- endfor -%}
            {% assign presenterCount = presenterCount | minus:1 %}
            {{ name }}<br>
          {%- endfor -%}
        </a>
      {% endif %}
  </div>
  {%- endif -%}
{%- endfor -%}