<div class="session-video-detail six columns">
  <div class="video-thumbnail">
    <img src="https://img.youtube.com/vi/{{ session.youtube }}/maxresdefault.jpg" width="96%" />
  </div>
  <header class="session-header">
    <h3 class="session-title heading">{{ session.title }}</h3>
    {%- if session.presenterID -%}
      <h4 class="session-presenter">
        {% assign presenters = site.data.presenters %}
        {% assign presenterCount = session.presenterID.size %}
        {%- for presenterID in session.presenterID -%}
          {%- for presenter in presenters -%}
            {%- if presenter.presenterID == presenterID -%}
              {% assign name = presenter.name %}
            {%- endif -%}
          {%- endfor -%}
          {% assign presenterCount = presenterCount | minus:1 %}
          <a href="/conference/program/#{{ presenterID }}">{{ name }}</a>{%- if presenterCount > 0 -%}{{ ' / ' }}{%- endif -%}
        {%- endfor -%}
      </h4>
    {%- endif -%}
  </header>
  <div class="video-caption">
      <p>{{ session.description | truncatewords: 15 }}
        {%- unless session.sessionType == "orga" -%}
          <span class="read-more">
          <a href="/conference/program/#{{ session.title | truncatewords: 6, '' | downcase | replace: ':', '' | replace: ' ', '-' }}" rel="noopener"> see session description</a></span>
        {%- endunless -%}
      </p>
  </div>
  {%- if session.ipfs720 or session.ipfs1080 or session.youtube -%}
  <ul class="bio-sm-list">
   {%- if session.ipfs720 or session.ipfs1080 -%}<li class="bio-sm-list-item"><a href="https://ipfs.io/ipfs/{{ session.ipfs720 }}" target="_blank" rel="noopener">{% include icons/link.svg %}&nbsp;ipfs/{{ session.ipfs720 }} </a></li>{%- endif -%}
   {%- if session.youtube -%}<li class="bio-sm-list-item"><a href="https://youtu.be/{{ session.youtube }}" target="_blank" rel="noopener">{% include icons/youtube.svg %}&nbsp;youtu.be/{{ session.youtube }}</a></li>{%- endif -%}
  </ul>
  {%- endif -%}
</div>
