// Images

a {
  color: inherit;
  text-underline-offset: 0.2rem;
}

p {
  @extend .text-base;
  @extend .leading-relaxed;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: 0;
  background-color: var(--black);
  height: 1px;
}
