// Images

a {
  color: inherit;
  text-underline-offset: 0.2rem;

  &:active {
    color: var(--accent);
  }
}

p {
  @extend .leading-relaxed;
  @extend .text-base;
}

ul {
  @extend .leading-relaxed;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: 0;
  background-color: var(--black);
  height: 1px;
}
