// Base Styling

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Images

img {
  max-width: 100%;
  height: auto;
}

// Links

a {
  color: var(--black);

  &:hover,
  &:focus,
  &.active {
    text-decoration: none;
  }
}
