// Base Styling

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
}

.invert {
  background: $accent-color;

  .bg-white:not(.panel) {
    background: $accent-color;
  }

  .color-accent {
    color: $black;
  }

  .outline {
    color: transparent;
    @include outline-text($black);
  }

  a {
    color: $black;
  }
}

// Images

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

// Figures

figure {
  margin: 0;
}

figure > img {
  display: block;
  margin-bottom: 1em;
}

figcaption {
  color: $grey;
  font-size: $small-font-size;
}

// Links

a {
  color: $accent-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($accent-color, 10%);
    text-decoration: underline;
  }
}

// hr

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-width: 0;
  border-top: 1px solid rgba($accent-color, 0.5);

  &.extended {
   border-top-width: 4px;
  }

  &.dark {
    border-color: rgba($black, 0.5);
  }
}

// Code formatting

pre {
  font-size: 15px;
  white-space: nowrap;
  border: 1px solid rgba($accent-color, 0.2);
  border-radius: 3px;
  background-color: rgba($accent-color, 0.1);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    display: block;
    border: 0;
    padding: 1rem 0;
    white-space: pre;
  }
}
