// Buttons

.button,
button {
  display: inline-flex;
  align-items: center;
  padding: 0.75em 2em;
  color: #555;
  text-align: center;
  font-family: $base-font-family;
  font-weight: normal;
  font-size: 1em;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #bbb;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
}

.button:hover,
button:hover,
.button:focus,
button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button.button-primary,
button.button-primary {
  color: $white;
  background-color: $black;
  border-color: $black;
}

.button.button-primary:hover,
button.button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus {
  color: $white;
  background-color: lighten($black, 20%);
  border-color: lighten($black, 20%);
}

.compact {
  height: 33px;
  font-size: 0.85em;
  padding: 0 15px;
  vertical-align: top;

  @media screen and (max-width: $on-palm) {
    height: 38px;
    padding: 0 30px;
    margin: 0 0 10px;
  }
}
