// Buttons

.button,
button {
  display: inline-flex;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1em;
  color: var(--white);
  background-color: var(--black);
}

.button:hover,
button:hover,
.button:focus,
button:focus {
  color: var(--white);
  background-color: var(--grey);
  text-decoration: none;
}

.button:active,
button:active {
  background-color: var(--black);
}

.compact {
  font-size: 0.75em;
  padding: 0.8em 1em;
}

.compact-round {
  font-size: 1em;
  padding: 0 0 3px;
  width: 40px;
  height: 40px;
}
