// Buttons

.button,
button {
  display: inline-flex;
  align-items: flex-end;
  padding: 1em;
  font-family: $base-font-family;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button:hover,
button:hover,
.button:focus,
button:focus {
  color: var(--white);
  background-color: var(--accent);
  text-decoration: none;
}

.button.primary,
button.primary {
  color: var(--dusk);
  background-color: var(--white);
}

.button.primary:hover,
button.primary:hover,
.button.primary:focus,
button.primary:focus {
  color: var(--white);
  background-color: var(--black);
}

.compact {
  font-size: 0.85em;
  padding: 1em;
}

.compact-round {
  font-size: 1em;
  padding: 0 0 3px;
  width: 40px;
  height: 40px;
}

.square {
  aspect-ratio: 1/1;
}
