// AUTHENTIC Sans

@font-face {
  font-family: AuthenticSans;
  font-weight: 150;
  src: url('./fonts/AUTHENTICSans-150.woff2') format('woff2'),
       url('./fonts/AUTHENTICSans-150.woff') format('woff');
}

@font-face {
  font-family: AuthenticSans;
  font-weight: 130;
  src: url('./fonts/AUTHENTICSans-130.woff2') format('woff2'),
       url('./fonts/AUTHENTICSans-130.woff') format('woff');
}

@font-face {
  font-family: AuthenticSans;
  font-weight: 90;
  src: url('./fonts/AUTHENTICSans-90.woff2') format('woff2'),
       url('./fonts/AUTHENTICSans-90.woff') format('woff');
}

@font-face {
  font-family: AuthenticSans;
  font-weight: 60;
  src: url('./fonts/AUTHENTICSans-60.woff2') format('woff2'),
       url('./fonts/AUTHENTICSans-60.woff') format('woff');
}

// AUTHENTIC Sans Condensed

@font-face {
  font-family: AuthenticSans-Condensed;
  font-weight: 150;
  src: url('./fonts/AUTHENTICSans-Condensed-150.woff2') format('woff2'),
       url('./fonts/AUTHENTICSans-Condensed-150.woff') format('woff');
}

@font-face {
  font-family: AuthenticSans-Condensed;
  font-weight: 130;
  src: url('./fonts/AUTHENTICSans-Condensed-130.woff2') format('woff2'),
       url('./fonts/AUTHENTICSans-Condensed-130.woff') format('woff');
}

@font-face {
  font-family: AuthenticSans-Condensed;
  font-weight: 90;
  src: url('./fonts/AUTHENTICSans-Condensed-90.woff2') format('woff2'),
       url('./fonts/AUTHENTICSans-Condensed-90.woff') format('woff');
}

@font-face {
  font-family: AuthenticSans-Condensed;
  font-weight: 60;
  src: url('./fonts/AUTHENTICSans-Condensed-60.woff2') format('woff2'),
       url('./fonts/AUTHENTICSans-Condensed-60.woff') format('woff');
}

// Sligoil Micro

@font-face {
  font-family: Sligoil;
  src: url('./fonts/Sligoil-Micro.woff2') format('woff2'),
       url('./fonts/Sligoil-Micro.woff') format('woff');
}