@font-face {
  font-family: 'Cotham Sans';
  src: url("../fonts/CothamSans-webfont.eot");
  src:
    url("fonts/CothamSans-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/CothamSans-webfont.woff2") format("woff2"),
    url("fonts/CothamSans-webfont.woff") format("woff"),
    url("fonts/CothamSans-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Terminal Grotesque';
  src: url("../fonts/terminal-grotesque-webfont.eot");
  src:
    url("fonts/terminal-grotesque-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/terminal-grotesque-webfont.woff2") format("woff2"),
    url("fonts/terminal-grotesque-webfont.woff") format("woff"),
    url("fonts/terminal-grotesque-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
