@font-face {
  font-family: jgs;
  src: url("fonts/jgs_font.woff2") format("woff2"),
    url("fonts/jgs_font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: jgs5;
  src: url("fonts/jgs5.woff2") format("woff2"),
    url("fonts/jgs5.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: jgs7;
  src: url("fonts/jgs7.woff2") format("woff2"),
    url("fonts/jgs7.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: jgs9;
  src: url("fonts/jgs9.woff2") format("woff2"),
    url("fonts/jgs9.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: hershey-futural;
  src: url("fonts/Hershey-Futural--15.woff2") format("woff2"),
    url("fonts/Hershey-Futural--15.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: hershey-futural;
  src: url("fonts/Hershey-Futural-0.woff2") format("woff2"),
    url("fonts/Hershey-Futural-0.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: hershey-futural;
  src: url("fonts/Hershey-Futural-30.woff2") format("woff2"),
    url("fonts/Hershey-Futural-30.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: hershey-futural;
  src: url("fonts/Hershey-Futural-40.woff2") format("woff2"),
    url("fonts/Hershey-Futural-40.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
