@font-face {
    font-family: 'nimbus sans l';
    src: url('fonts/NimbusSanL-BolIta-webfont.eot');
    src: url('fonts/NimbusSanL-BolIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/NimbusSanL-BolIta-webfont.woff') format('woff'),
         url('fonts/NimbusSanL-BolIta-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'nimbus sans l';
    src: url('fonts/NimbusSanL-Bol-webfont.eot');
    src: url('fonts/NimbusSanL-Bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/NimbusSanL-Bol-webfont.woff') format('woff'),
         url('fonts/NimbusSanL-Bol-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus sans l';
    src: url('fonts/NimbusSanL-Reg-webfont.eot');
    src: url('fonts/NimbusSanL-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/NimbusSanL-Reg-webfont.woff') format('woff'),
         url('fonts/NimbusSanL-Reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus sans l';
    src: url('fonts/NimbusSanL-RegIta-webfont.eot');
    src: url('fonts/NimbusSanL-RegIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/NimbusSanL-RegIta-webfont.woff') format('woff'),
         url('fonts/NimbusSanL-RegIta-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
