// Forms

fieldset {
  border: 0;
}

.input {
  font-family: $base-font-family;
  padding: 0.75em;
  border: 1px solid #d1d1d1;
}

.input:invalid:focus {
  outline-style: solid;
  outline-color: $accent-color;
  outline-width: 3px;
  border-color: red;
}

input[type="radio"]:invalid:focus ~ label {
  color: $accent-color;
}

.input-condition:checked ~ .input-condition-group {
  display: flex;
}
