// Forms

.input-text,
textarea,
select {
  width: 100%;
  margin-bottom: 1em;
  font-family: $base-font-family;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0.75em 1em;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.input-text:focus,
textarea:focus,
select:focus {
  border: 1px solid $accent-color;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
}

fieldset {
  padding: 0;
  border-width: 0;
}

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
