// Positioning

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

// Grid

.container {
  padding: 0 1.25rem;
}

.none {
  display: none;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-align-baseline {
  align-items: baseline;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-align-content-end {
  align-content: flex-end;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

// Spacing helper classes

.w-100 {
  width: 100%;
}

.w-50 {
  width: calc(50% - 0.5em);
  max-width: $content-width;

  @media (max-width: $on-palm) {
    width: 100%;
  }
}

.w-33 {
  width: calc(33.3333333% - 0.5em);

  @media (max-width: $on-palm) {
    width: 100%;
  }
}

.max-w-prose {
  max-width: 65ch;
}

// Padding

.p-0 {
  padding: 0;
}

.pt-4 {
  padding-top: 1rem;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 1rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

// Margin

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1em;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-025 {
  margin-bottom: 0.5em;
}

.mb-05 {
  margin-bottom: 0.5em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

// Gap

.gap-4 {
  gap: 1rem;
}

.rounded {
  border-radius: 0.25rem;
}

.border {
  border-style: solid;
  border-width: 2px;
}

.outlined:hover,
.outlined:focus {
  outline: 1px solid var(--black);
  outline-offset: 0.2rem;
}

.active\:outline-accent:active {
  outline-color: var(--accent);
}

.outlined:active {
  outline-width: 2px;
}

.screen {
  display: inline-block;
  width: 38ch;
  min-height: 2rem;
  overflow: hidden;
  margin-bottom: -4px;
}