// Grid

.container {
  max-width: $content-width;
  margin: 0 40px;
  padding: 0 20px;
  box-sizing: border-box;
}

.container-full-width {
  max-width: unset;
}

.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

// Spacing helper classes


// Padding

.pb-m {
  padding-bottom: 3em;
}

// Margin

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

// For devices larger than 320px

@media (min-width: 320px) {
  .container {
    padding: 0;
  }
}

// For devices larger than 550px

@media (min-width: 550px) {
  .columns {
    margin-left: 4%;
  }

  .columns:first-child {
    margin-left: 0;
  }

  .five.columns {
    width: 39.3333333333%;
  }

  .six.columns {
    width: 48%;
  }
}

// Clearing

.row:after {
  content: "";
  display: table;
  clear: both;
}

// Events
.event {
  margin-left: 0;
  margin-bottom: 2em;
  padding-right: 4%;
}

.event-time-location {
  margin-bottom: 1em;

  .icon {
    min-width: 1.75em;
    text-align: center;
  }
}

.event-meta {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5em;

  .event-meta-item {
    margin-bottom: 0;
  }
}

.post {
  padding: 120px 0 0;

  &.extended {
    padding-top: 180px;
  }

  @media (max-width: $on-palm) {
    padding-top: 100px;
  }
}

.events-grid {
  display: flex;
  flex-wrap: wrap;

  .compact + .compact {
    margin-top: 0.75em;
  }
}

.event-add {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

// Splash

.splash {
  &.extended {
    padding-top: 3em;

    @media (max-width: $on-palm) {
      padding-top: 56px;
    }
  }

  > .container {

    > p {
      max-width: 75%;

      @media (max-width: $content-width) {
        max-width: none;
      }
    }
  }
}

.splash-hero {
  padding-top: 120px;
  margin-bottom: 2em;
  padding-bottom: 2em;
  background: $background-accent;
}

// Notices

.notice {
  margin-top: 55px;
  padding-top: 4em;
  padding-bottom: 4em;
  min-height: calc(100% - 8em - 172px);
}

// Social Media Biography

.bio-sm-list {
  margin-top: -$base-margin-bottom;
  margin-bottom: $base-margin-bottom;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.bio-sm-list-item {
  margin-right: $spacing-unit / 2;
  margin-top: 0;
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: $content-width) {
    flex-basis: 50%;
    margin: 0;
  }
}
