// Positioning

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// Grid

.container {
  max-width: $content-width;
  margin: 0 40px;
  padding: 0 20px;

  @media (max-width: $content-width) {
    margin: 0 20px;
  }
}

.container-full-width {
  max-width: unset;
}

.columns {
  float: left;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-baseline {
  align-items: baseline;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

// Spacing helper classes

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

// Padding

.p-0 {
  padding: 0;
}

.pt-m {
  padding-top: 3em;
}

.pb-m {
  padding-bottom: 3em;
}

// Margin

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mr-1 {
  margin-right: 1em;
}

// For devices larger than 320px

@media (min-width: 320px) {
  .container {
    padding: 0;
  }
}

// For devices larger than 550px

@media (min-width: 550px) {
  .columns {
    margin-left: 4%;
  }

  .columns:first-child {
    margin-left: 0;
  }

  .five.columns {
    width: 39.3333333333%;
  }

  .six.columns {
    width: 48%;
  }
}

// Clearing

.row:after {
  content: "";
  display: table;
  clear: both;
}

// Events
.event {
  margin-left: 0;
  margin-bottom: 2em;
  padding-right: 4%;
}

.event-time-location {
  margin-bottom: 1em;

  .icon {
    min-width: 1.75em;
    text-align: center;
  }
}

.event-meta {
  align-items: baseline;
  margin-bottom: 0.5em;

  .event-meta-item {
    margin-bottom: 0;
  }
}

.post {
  padding: 80px 0 40px;

  &.extended {
    padding-top: 180px;
  }

  @media (max-width: $on-palm) {
    padding-top: 100px;
  }
}

.events-grid {
  .compact + .compact {
    margin-top: 0.75em;
  }
}

.event-add {
  flex-direction: column;
  align-items: flex-start;
}

// Splash

.splash {
  margin-bottom: 40px;

  &.extended {
    padding-top: 3em;

    @media (max-width: $on-palm) {
      padding-top: 56px;
    }
  }

  > .container {

    > p {
      max-width: 75%;

      @media (max-width: $content-width) {
        max-width: none;
      }
    }
  }
}

.splash-hero {
  padding-top: 120px;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

// Notices

.notice {
  margin-top: 55px;
  padding-top: 4em;
  padding-bottom: 4em;
  min-height: calc(100% - 8em - 172px);
}

// Stripe

.striped-bg {
  @include striped-bg($accent-color, $yellow, 20px);
  height: 10px;
}

// Social Media Biography

.bio-sm-list {
  margin-top: -$base-margin-bottom;
  margin-bottom: $base-margin-bottom;
  list-style: none;
}

.bio-sm-list-item {
  margin-right: $spacing-unit / 2;
  margin-top: 0;
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: $content-width) {
    flex-basis: 50%;
    margin: 0;
  }
}
