// Positioning

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 2;

  @media (max-width: $on-palm) {
    top: 58px;
  }
}

.top-0 {
  top: 0;
}

.top-50 {
  top: 50%;
}

.left-50 {
  left: 50%;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

// Grid

.content-width {
  max-width: $content-width; 
}

.container {
  max-width: $content-width;
  margin: 0 40px;
  padding: 0 20px;

  @media (max-width: $content-width) {
    margin: 0 20px;
  }
}

.container-full-width {
  max-width: unset;
}

.none {
  display: none;
}

.none-mobile {
  @media (max-width: $on-palm) {
    display: none;
  }
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-baseline {
  align-items: baseline;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

// Spacing helper classes

.square-1 {
  width: 44px;
  height: 44px;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;

  @media (max-width: $on-palm) {
    width: 100%;
  }
}

.w-50 {
  width: calc(50% - 0.5em);

  @media (max-width: $on-palm) {
    width: 100%;
  }
}

.w-25 {
  width: 25%;
}

.w-33 {
  width: calc(33.3333333% - 0.5em);

  @media (max-width: $on-palm) {
    width: 100%;
  }
}

// Padding

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1em;
}

.pt-s {
  padding-top: 1em;
}

.pt-m {
  padding-top: 3em;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 1em;
}

.pb-m {
  padding-bottom: 3em;
}

// Margin

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mt-0 {
  margin-top: 0;
}

.mt-05 {
  margin-top: 0.5em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mb-05 {
  margin-bottom: 0.5em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mr-05 {
  margin-right: 0.5em;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 2em;
}

.ml-1 {
  margin-left: 1em;
}

// For devices larger than 320px

@media (min-width: 320px) {
  .container {
    padding: 0;
  }
}

// Events
.event {
  margin-left: 0;
  padding-right: 4%;
}

.event-time-location {
  margin-bottom: 1em;

  .icon {
    min-width: 1.75em;
    text-align: center;
  }
}

.event-meta {
  margin-bottom: 0.5em;

  .event-meta-item {
    margin-bottom: 0;
  }
}

.post {
  padding: 80px 0 40px;

  &.extended {
    padding-top: 180px;
  }

  @media (max-width: $on-palm) {
    padding-top: 100px;
  }
}

.events-grid {
  .compact + .compact {
    margin-top: 0.75em;
  }
}

.event-add {
  flex-direction: column;
  align-items: flex-start;
}

// Splash

.splash {
  margin-bottom: 40px;

  &.extended {
    padding-top: 3em;

    @media (max-width: $on-palm) {
      padding-top: 56px;
    }
  }

  > .container {

    > p {
      max-width: 75%;

      @media (max-width: $content-width) {
        max-width: none;
      }
    }
  }
}

.splash-hero {
  padding-top: 120px;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

// Notices

.notice {
  min-height: 50vh;
}

// Scrollbars

.styled-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba($text-color, 0.03);
  }
  scrollbar-width: thin;
  scrollbar-color: rgba($text-color, 0.03) transparent;

  &.panel {
    scrollbar-color: $accent-color transparent;
    &::-webkit-scrollbar-thumb {
      background: $accent-color;
    }
  }
}

// Stripe

.striped-bg {
  @include striped-bg($accent-color, $yellow, 20px);
  height: 10px;
}

// Footer

.footer {
  background-image: url('../images/vector-art/brick-wall-frame-destroyed.svg');
  background-repeat: no-repeat;
  background-position-x: 71vw;
  background-size: 40vw;
}

// Social Media Biography

.bio-sm-list {
  margin-top: -$base-margin-bottom;
  margin-bottom: $base-margin-bottom;
  list-style: none;
}

.bio-sm-list-item {
  margin-right: $spacing-unit / 2;
  margin-top: 0;
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: $content-width) {
    flex-basis: 50%;
    margin: 0;
  }
}

// Panel

.panel {
  outline: 0;
  box-shadow: 0px 5px 16px 0 rgba($black, 0.25);
  max-width: 600px;
  min-width: 320px;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 9999;
}

// Borders

.border-left {
  border-left: 4px solid $accent-color;
}
