// Grid

.container {
  position: relative;
  width: 100%;
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }

  .column,
  .columns {
    margin-left: 4%;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }

  .two.columns {
    width: 13.3333333333%;
  }

  .three.columns {
    width: 22%;
  }

  .four.columns {
    width: 30.6666666667%;
  }

  .five.columns {
    width: 39.3333333333%;
  }

  .six.columns {
    width: 48%;
  }

  .seven.columns {
    width: 56.6666666667%;
  }

  .eight.columns {
    width: 65.3333333333%;
  }

  .nine.columns {
    width: 74%;
  }

  .ten.columns {
    width: 82.6666666667%;
  }

  .eleven.columns {
    width: 91.3333333333%;
  }

  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  .one-third.column {
    width: 30.6666666667%;
  }

  .two-thirds.column {
    width: 65.3333333333%;
  }

  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}

// Clearing

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

// Events

.event-time-location {
  margin-bottom: 1.5em;

  .icon {
    min-width: 1.75em;
    text-align: center;
  }
}

.event-meta {
  display: flex;
  margin-bottom: 0.5em;

  .event-meta-item {
    margin-bottom: 0;
  }
}

.post {
  padding: 120px 0 0;

  @media (max-width: $on-palm) {
    padding-top: 100px;
  }
}

.featurette-events-row {
  margin-bottom: 2em;

  .compact + .compact {
    margin-top: 0.75em;
  }
}

// Splash

.splash {
  &.extended {
    padding-top: 61px;

    @media (max-width: $on-palm) {
      padding-top: 53px;
    }
  }

  > .container {

    p {
      max-width: 75%;

      @media (max-width: $content-width) {
        max-width: none;
      }
    }
  }
}

.splash-hero {
  padding-top: 120px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  background: $background-accent;
  background-image: url('../images/splash-outline.svg');
  background-repeat: no-repeat;
  background-position: 102% center;

  @media (max-width: $content-width) {
    background-image: none;
  }
}

.feature {
  margin-bottom: 1.6em;

  &:last-child {
    margin-bottom: 0;

    p {
      margin-bottom: 0;
    }
  }
}

// Splash SVGs

.asterisk-outline {
  position: absolute;
  top: 0;
  right: 0;

  @media (max-width: $content-width) {
    display: none;
  }
}

.stairs-outline {
  margin: 1em 0;
}

// Notices

.notice {
  margin-top: 55px;
  padding-top: 4em;
  padding-bottom: 4em;
  min-height: calc(100% - 8em - 172px);
}

// Social Media Biography

.bio-sm-list {
  margin-top: -$base-margin-bottom;
  margin-bottom: $base-margin-bottom;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.bio-sm-list-item {
  margin-right: $spacing-unit / 2;
  margin-top: 0;
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: $content-width) {
    flex-basis: 50%;
    margin: 0;
  }
}
