// Lists

ul {
  margin-top: 0;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: $spacing-unit;
  margin-bottom: $base-margin-bottom;
}


li {
  > ul {
    margin: 0 0 $base-margin-bottom;
    padding-left: $spacing-unit;
  }

  & + li {
    margin-top: 0.25em;
  }
}

.ls-none {
  list-style: none;
}