// Live Stream Container

.stream-container {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 350px;
  margin-bottom: 1em;
}

.stream-selector {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $background-color;
}

.stream-selector-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stream-option-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.stream-option {
  padding: 0.75em;
  margin: 0 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 0;

  &:hover,
  &:focus {
    .button-label {
      text-decoration: underline;
    }
  }

  svg {
    width: 130px;
    pointer-events: none;
  }
}

.stream-option[disabled] {
  cursor: not-allowed;
  opacity: 0.25;

  &:hover,
  &:focus {
    .button-label {
      text-decoration: none;
    }
  }

  svg {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.stream-message {
  max-width: 75%;
  margin: 0 auto;
  font-size: 0.85em;
}

.stream-option-title-helper {
  position: absolute;
  top: 100%;
  display: none;
  width: 225px;
  font-size: 0.85em;
  line-height: 1.2em;
  color: #777;
  white-space: normal;
}

.stream-option-wrapper:hover .stream-option-title-helper {
  display: block;
}

.stream-refresh {
  margin-top: 1em;
}

.button-label {
  margin-top: 1em;
  color: $black;
}

#loadingTitle {
  margin-top: 0;
}
