.header {
  z-index: 100;

  @media (max-width: $on-palm) {
    background: $white;
    position: fixed;
    box-shadow: 0 1px 0 0 $accent-color;
    max-height: 100vh;
    overflow: scroll;
  }

  > .container {
    padding: 1em 30px;

    @media (max-width: $on-palm) {
      padding: 0.5em 0;
      width: unset;
      flex-wrap: wrap;
    }
  }

  .nav-item {
    padding: 10px 15px;
    display: inline-flex;
    white-space: nowrap;
    border: 1px solid $black;
    border-radius: 20px;
    text-decoration: none;

    @media (max-width: $on-palm) {
      display: block;
      padding: 0.75em 0 0.75em;
    }

    &:hover,
    &.active {
      background: $accent-color;
      color: $white;

      .nav-item-sub {
        display: block;
      }
    }
  }

  li:hover,
  li.active {
    .nav-item-sub {
      display: block;
    }
  }

  .menu {
    margin: 0;
    padding: 0;

    li {
      position: relative;
      margin-right: 1em;

      @media (max-width: $on-palm) {
        margin-right: 0;

        &[aria-haspopup="true"] {
          margin: 2em 0;
        }

        &[aria-haspopup="true"]:first-child {
          margin-top: 0;
        }
      }
    }

    @media (max-width: $on-palm) {
      display: block;
      margin-top: 0.5em;
      margin-bottom: -0.5em;
      padding: 1em;

      a {
        color: $black;
      }
    }
  }
}

// Mobile Menu Trigger

.nav {
  @media (max-width: $on-palm) {
    display: none;
  }
}

input[type="checkbox"].menu-btn {
  &:checked ~ .nav {
    display: block;
    padding-bottom: calc(60px + 0.75em);
  }

  &:checked ~ .menu-icon {
    background: $accent-color;
    color: $white;
  }

  &:checked ~ .menu-icon:after {
    content: 'Close';
  }

  &:checked ~ .menu-icon span {
    display: none;
  }
}

.menu-icon {
  background: $black;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 0.85em;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 20px;

  @media (max-width: $on-palm) {
    display: inline-flex;
  }
}

// Logo

.logo {
  display: inline-flex;
  margin-right: 30px;

  @media (max-width: $on-palm) {
    margin-left: 20px;
  }

  svg {
    width: 40px;
    height: 100%;
  }
}

// Sub-menu

.nav-item-sub {
  position: absolute;
  z-index: 1000;
  display: none;
  padding: 0;
  list-style: none;

  a {
    margin-top: 0.5em;
    display: block;
    white-space: nowrap;
    padding: 8px 10px;
    border-radius: 20px;
    border: 1px solid $black;
    border-radius: 20px;
    text-decoration: none;
    background: $white;
  }

  a:hover,
  a:focus,
  a.active, {
    color: $white;
    background: $accent-color;
  }

  &:empty {
    display: none;
  }
}

@media (max-width: $on-palm) {
  .header {
    li:hover {
      .nav-item-sub:empty {
        display: none;
      }
    }
  }
  .nav-item-sub {
    display: block;
    position: inherit;
    width: 100%;
    float: none;
    box-shadow: none;
    margin-bottom: 0;

    li:first-child {
      padding-top: 0;
    }

    a {
      padding: 0.75em 1em;
    }
  }
}
