.header {

  > .container {
    padding: 1em 30px;

    @media (max-width: $on-palm) {
      padding: 1em 0;
    }
  }

  .nav-item {
    display: inline-flex;

    &.active {
      color: var(--black);
    }

    @media (max-width: $on-palm) {
      aspect-ratio: unset;
    }
  }

  .menu {
    padding: 0;

    li {
      position: relative;
      margin-right: 1px;

      @media (max-width: $on-palm) {
        width: 100%;

        &[aria-haspopup="true"] {
          margin: 1px 0;
        }

        &[aria-haspopup="true"]:first-child {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: $on-palm) {
      flex-wrap: wrap;
    }
  }
}

// Mobile Menu Trigger

.nav {
  @media (max-width: $on-palm) {
    padding: 0 20px;
    display: none;

    pre {
      line-height: 2rem;
    }
  }
}

input[type="checkbox"].menu-btn {
  &:checked ~ .nav {
    display: block;
  }

  &:checked ~ .menu-icon {
    background-color: var(--accent);
    outline-color: var(--accent);
  }
}

.menu-icon {
  padding: 0.5em 1em 0.5em 1em;
  cursor: pointer;
  align-items: flex-end;

  @media (max-width: $on-palm) {
    display: inline-flex;
  }
}

// Logo

.logo {
  display: inline-flex;
  margin-right: 30px;
  vertical-align: middle;

  @media (max-width: $on-palm) {
    margin-left: 20px;
  }

  svg {
    width: 50px;
    height: 100%;
  }
}

// Sub-menu

.nav-item-sub {
  padding: 0;
  list-style: none;
}

@media (max-width: $on-palm) {
  .header {
    li:hover {
      .nav-item-sub:empty {
        display: none;
      }
    }
  }
  .nav-item-sub {
    display: block;
    position: inherit;
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

.hover-ornament:after {
  font-family: var(--font-family-display-mono);
  display: inline-flex;
  line-height: 0;
  margin-left: 1ch;
}

.hover-ornament:hover::after {
  content: "☼";
}

.hover-ornament.active::after {
  content: "*";
}
