.header {
  z-index: 100;
  font-size: 0.75em;

  @media (max-width: $on-palm) {
    background: var(--black);
    position: fixed;
    box-shadow: 0 1px 0 0 var(--white);
    max-height: 100vh;
    overflow: scroll;
  }

  > .container {
    padding: 1em 30px;

    @media (max-width: $on-palm) {
      padding: 0.5em 0;
      width: unset;
      flex-wrap: wrap;
    }
  }

  .nav-item {
    padding: 1em;
    display: inline-flex;
    text-decoration: none;
    align-items: flex-end;
    text-align: left;
    width: 80px;
    line-height: 1em;
    background: var(--white);
    color: var(--dusk);
    aspect-ratio: 1/1;

    @media (max-width: $on-palm) {
      display: block;
      padding: 0.75em 0 0.75em;
    }

    &:hover,
    &.active {

      .nav-item-sub {
        display: block;
      }
    }

    &.active {
      color: var(--black);
      background: var(--white);
    }
  }

  li:hover,
  li.active {
    .nav-item-sub {
      min-width: 100%;
      display: block;
    }
  }

  .menu {
    margin: 0;
    padding: 0;

    li {
      position: relative;
      margin-right: 1px;

      @media (max-width: $on-palm) {
        margin-right: 0;

        &[aria-haspopup="true"] {
          margin: 2em 0;
        }

        &[aria-haspopup="true"]:first-child {
          margin-top: 0;
        }
      }
    }

    @media (max-width: $on-palm) {
      display: block;
      margin-top: 0.5em;
      margin-bottom: -0.5em;
      padding: 1em;

      a {
        color: var(--white);
      }
    }
  }
}

// Mobile Menu Trigger

.nav {
  @media (max-width: $on-palm) {
    display: none;
  }
}

input[type="checkbox"].menu-btn {
  &:checked ~ .nav {
    display: block;
    padding-bottom: calc(60px + 0.75em);
  }

  &:checked ~ .menu-icon {
    background: var(--accent);
    color: var(--white);
  }

  &:checked ~ .menu-icon:after {
    content: 'Close';
  }

  &:checked ~ .menu-icon span {
    display: none;
  }
}

.menu-icon {
  background: var(--white);
  color: var(--black);
  padding: 0.5em 1em 0.5em 1em;
  font-size: 0.85em;
  margin-right: 20px;
  cursor: pointer;

  @media (max-width: $on-palm) {
    display: inline-flex;
  }
}

// Logo

.logo {
  display: inline-flex;
  margin-right: 30px;

  @media (max-width: $on-palm) {
    margin-left: 20px;
  }

  svg {
    fill: currentColor;
    width: 40px;
    height: 100%;
  }
}

// Sub-menu

.nav-item-sub {
  position: absolute;
  z-index: 1000;
  display: none;
  padding: 0;
  list-style: none;
  text-align: left;

  a {
    margin-top: 1px;
    display: block;
    white-space: nowrap;
    padding: 1em;
    text-decoration: none;
    color: var(--dusk);
    background: var(--white);
  }

  a:hover,
  a:focus {
    color: var(--white);
    background: var(--accent);
  }

  a.active {
    color: var(--black);
    background: var(--white);
  }

  &:empty {
    display: none;
  }
}

@media (max-width: $on-palm) {
  .header {
    li:hover {
      .nav-item-sub:empty {
        display: none;
      }
    }
  }
  .nav-item-sub {
    display: block;
    position: inherit;
    width: 100%;
    float: none;
    box-shadow: none;
    margin-bottom: 0;

    li:first-child {
      padding-top: 0;
    }

    a {
      padding: 0.75em 1em;
    }
  }
}
