.site-title {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  transition: background 100ms ease-in-out;

  @media (max-width: $on-palm) {
    background: $white;
    box-shadow: 0 3px 0 0 rgba($black, 0.1);
  }

  > .container {
    display: flex;
    padding: 1.75em 0 1em;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    transition: padding 200ms ease-in-out;

    @media (max-width: $on-palm) {
      width: 85%;
      padding: 1em 0;
      display: block;
    }
  }

  .nav-item {
    padding: 0 15px;
    display: inline-flex;
    white-space: nowrap;

    &.active,
    &:hover {
      color: rgba($black, 0.5);
    }

    @media (max-width: $on-palm) {
      display: block;
      text-align:center;
      padding: 0.5em 0 0.5em;
    }
  }

  .menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      flex-grow: 1;
    }

    li + li {
      margin-top: 0;
    }

    a {
      color: $black;
    }

    @media (max-width: $on-palm) {
      display: block;
      margin-top: 1em;
    }
  }

  &.active-bg {
    background: $white;

    > .container {
      padding: 1em 0;
    }
  }
}

// Mobile Menu Trigger

.nav {
  @media (max-width: $on-palm) {
    display: none;
  }
}

input[type="checkbox"].menu-btn {
  display: none;

  &:checked ~ .nav {
    display: block;
  }

  &:checked ~ .menu-icon {
    background: $black;
    color: $white;
  }
}

.menu-icon {
  display: none;
  position: absolute;
  top: 1.2em;
  right: 0;
  border: 1px solid #e1e1e1;
  padding: 0.8em 1em 0.6em 1em;
  line-height: 1em;
  font-size: 0.75em;

  @media (max-width: $on-palm) {
    display: block;
  }
}

// Logo

.logo {
  display: block;
  width: 156px;
  height: auto;

  @media (max-width: $on-palm) {
    width: 90px;
  }
}

// Sub-menu

.nav-item-sub {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 0;
  list-style: none;
  background: $white;
  box-shadow: 0 3px 0 0 rgba($black, 0.1);

  li:first-child {
    padding-top: 5px;
  }

  a {
    display: block;
    white-space: nowrap;
    padding: 8px 15px;
  }

  a:hover,
  a:focus,
  a.active, {
    color: rgba($black, 0.5);
  }
}

.header {
  li:hover,
  li.active {
    .nav-item-sub {
      display: block;
    }
  }
}

@media (max-width: $on-palm) {
  .nav-item-sub {
    display: block;
    position: inherit;
    width: 100%;
    float: none;
    padding: 0 25px;
    text-align: center;
  }
}
