// Tables

table {
  margin: 1em 0;
  table-layout: fixed;
}

th,
td {
  border-bottom: 1px solid $grey-table-borders;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

thead th {
  border-bottom: 2px solid $accent-color;
  width: 50%;
}

thead th.width-unset {
  width: unset;
}

// Schedule Table

.schedule-table {
  margin-bottom: 4em;
  position: relative;

  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;

    @media (max-width: $on-palm) {
      font-size: 14px;
    }
  }

  th,
  td {
    padding: 8px 6px;
  }

  tr {
    td:nth-child(-n+2):not(.session-block) {
      vertical-align: top;
      @extend .mono;
    }
    td:first-child {
      text-align: right;
      padding-right: 0;
      padding-left: 0;
    }
    td:nth-child(2):not(.session-block) {
      padding-left: 0;
    }
    &:nth-child(2n) td:nth-child(-n+2) {
      font-weight: bold;
    }
  }

  @media (max-width: $content-width) {
    font-size: 14px;
    width: 100vw;
    margin-left: -20px;
  }

}

.session-block {
  border-radius: 10px;
  border: 1px solid $black;
  background: $white;
  position: relative;
  z-index: 1;

  &:hover {
    background: rgba($accent-color,.1);
    border-color: $accent-color;
  }
}

.schedule-time {
  width: 63px;
  text-align: left;
}

.session-orga {
  border-color: $black;
  z-index: 0;
}

.session-para {
  background-color: $accent-color;
  border-color: $accent-color;
  
  a {
    color: $black;
    text-decoration: underline;
  } 
}

.session-exhibited-works {
  border-color: $accent-color;
}

.program-heading {
  font-size: 3.5rem;
  margin-top: 1.5em;
}

.program-block {
  &:last-child {
    border-bottom: 0;
  }

  .session-title {
    margin-top: 0;
    margin-bottom: .25em;
  }

  .session-presenter {
    margin: 0;
    font-size: 1em;
  }

  .presenter-name {
    margin-top: 0;
  }
}

.program-block-anchor:target {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;

  & + .program-block-content {
    border-radius: 20px;
    background: $accent-color;

    .session-jump {
      display: block;
    }
  }
}

.schedule-block-anchor:target {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;
}

.session-detail {
  .program-block-anchor:target {
    & + .program-block-content {
      background: rgba($accent-color,.1);
      .highlight {
        background: rgba($accent-color,.2);
      }
    }
  }
}