// Tables

table {
  border-spacing: 0;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid $grey-color-table-borders;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

thead th {
  border-bottom: 2px solid $grey-color-table-borders;
}


// Schedule Table

.schedule-table {
  margin: 1em 0 4em;
  width: 100%;

  h3,
  h4,
  h5 {
    margin-top: 0;
    margin-bottom: 0;
  }

  tr:nth-child(even) {
    background-color: lighten($grey-color-light, 5%);
  }

  th,
  td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid $grey-color-table-borders;
  }

  tr {
    td:first-child,
    td:nth-child(2) {
      vertical-align: top;
      font-size: 1.7rem;
    }
    td:first-child {
      text-align: right;
      padding-right: 0;
    }
    td:nth-child(2) {
      padding-left: 0;
    }
  }

  td:nth-child(3):empty {
    border-left: 1px solid $grey-color-table-borders;
  }
}

.session-block {
  border-left: 1px solid $grey-color-table-borders;
  background-color: $white;
}

.session-presenter {
  font-size: .75em;
  margin-top: .5em;
  margin-bottom: 0;
}

.schedule-main {
  width: 40%;
}

.schedule-breakout {
  width: 25%;
}

.session-orga  {
  background-color: rgba($background-accent, 0.4);
}

.program-heading {
  font-size: 3.5rem;
  margin-top: 1.5em;
}

.session-detail-anchor:target {
  display: block;
  position: relative;
  top: -120px; 
  visibility: hidden;

  & + .session-detail-content {
    background: rgba($background-accent, 0.3);
  }
}

.session-detail {
  border-bottom: 1px solid $grey-color-table-borders;

  &:last-child {
    border-bottom: 0;
  }
}

.session-detail-content {
  padding: 1em;

  .session-header {
    margin-bottom: 1em;
  }

  .session-title {
    margin-top: 0;
    margin-bottom: .25em;
  }

  .session-presenter {
    margin: 0;
    font-size: 1em;
  }

  .bio-sm-list {
    margin-top: .25em;
    margin-bottom: 0;
  }
}

.presenter {
  padding: 1em;
  border-bottom: 1px solid $grey-color-table-borders;

  .presenter-name {
    margin-top: 0;
  }

  .bio-sm-list {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:last-child {
    border-bottom: 0;
  }
}
