// Tables

table {
  border-spacing: 0;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

thead th {
  border-bottom: 2px solid #e1e1e1;
}


// Schedule Table

.schedule-table {
  margin: 1.6em 0;
  width: 100%;

  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  tr:nth-child(even) {
    background-color: lighten($grey-color-light, 5%);
  }

  th,
  td {
    padding: 6px 12px;
    text-align: left;
    vertical-align: text-top;
    border-bottom: 1px solid #e1e1e1;
  }
}

.session-block {
  border-left: 1px solid #e1e1e1;
  background-color: $white;
}

.schedule-main {
  width: 40%;
}

.schedule-breakout {
  width: 25%;
}

.session-orga  {
  background-color: $background-accent;
}

.session-break  {
  background-color: $background-accent;
}
