// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $base-heading-line-height;
}

h1 {
  font-size: 2.18rem;
  line-height: 1.25em;
}

h2 {
  font-size: 1.81rem;
}

h3 {
  margin-top: 1em;
  font-size: 1.56rem;
}

h4 {
  font-size: 1.37rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: $base-margin-bottom;
}

// Font-family

.mono {
  font-family: $mono-font-family;
  font-variation-settings: "wght" 401.49;
}

// Typography helper classes

.fs-small {
  font-size: $small-font-size;
}

.fs-medium {
  font-size: $medium-font-size;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left !important;
}

.highlight {
  background: rgba($accent-color,.1);
}

.highlight-mod {
  background: rgba($accent-color-mod,.2);
}

.lh-1 {
  line-height: 1em;
}

// Heading helpers

.heading-1 {
  @include fluid-type(320px,1980px,60px, 80px);

  @media (max-width: $on-palm) {
    font-size: 40px;
  }
}

.heading-2 {
  @include fluid-type(320px,1980px,40px,65px);
}

.heading-2-5 {
  @include fluid-type(320px,1980px,30px,80px);
}

.heading-3 {
  @include fluid-type(320px,1980px,18px,30px);
}

// metaflop

.metaflop {
  font-family: metaflop;
}

// Font-weight helpers

.fw-bold {
  font-weight: bold;
}

.fw-normal {
  font-weight: normal;
}

// Word break helper

.overflow-wrap {
  overflow-wrap: break-word;
}
