// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.35em;
  line-height: $base-heading-line-height;
}

h1 {
  font-size: 2.18rem;
}

h2 {
  font-size: 1.81rem;
}

h3 {
  margin-top: 1em;
  font-size: 1.56rem;
}

h4 {
  font-size: 1.37rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

p {
  margin-top: 0;
  margin-bottom: $base-margin-bottom;
}

// Heading helper

.heading {
  line-height: 1.2em;
}

// Posts title

.post-header {
  margin-bottom: 1.2em;
}

.post-title {
  margin-bottom: 0.25em;
}

.post-subtitle {
  margin-bottom: 0.35em;
}

// Bullets

.bullet {
  width: 1em;
  height: 1em;
}

// Typewriter theme effect
.typing {
  line-height: 1em;
}

.typing p {
  color: $text-color;
  font-family: $mono-font-family;
  font-size: $small-font-size;
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  margin: 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation:
    typing 4s steps(40, end),
    blink-caret 500ms step-end infinite;
}

.typing p:nth-child(n) {
  animation-delay: 5s;
  animation:
    typing 4s steps(40, end);
  animation-fill-mode:
    forwards;
}

.typing span {
  color: $text-color;
  text-align: left;
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  border-right: .15em solid $accent-color; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation:
    typing 4s steps(40, end),
    blink-caret 500ms step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $accent-color }
}
