// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: $base-heading-line-height;
}

h1 {
  font-size: 2.18rem;
  line-height: 1em;
}

h2 {
  font-size: 1.81rem;
}

h3 {
  margin-top: 1em;
  font-size: 1.56rem;
}

h4 {
  font-size: 1.37rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

p {
  margin-top: 0;
  margin-bottom: $base-margin-bottom;
}

// Typography helper classes

.fs-small {
  font-size: $small-font-size;
}

// Outline helper

.outline {
  color: transparent;
  @include outline-text($accent-color);
}

// Heading helpers

.heading {
  line-height: 1.2em;
}

.heading-1 {
  @include fluid-type(320px,1980px,18px,200px);
}

.heading-2 {
  @include fluid-type(320px,1980px,18px,150px);
}

.heading-3 {
  @include fluid-type(320px,1980px,16px,30px);
}

// Footer

.footer {
  a {
    color: $black;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}

// Posts title

.post-header {
  margin-bottom: 1.2em;
}

.post-title {
  margin-bottom: 0.25em;
}

// Typewriter theme effect

.word-spacer + br {
  @media (max-width: $on-palm) {
    display: none;
  }
}

.typing {
  color: rgba($text-color, 0.8);
  font-family: $mono-font-family;
  font-size: $small-font-size;
  line-height: 1.25em;
  padding: 1em;
  margin: 2em 0;
  width: 75%;
  background: $background-accent;
  height: 18em;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba($text-color, 0.03);
  }
  scrollbar-width: thin;
  scrollbar-color: rgba($text-color, 0.03) transparent;

  @media (max-width: $content-width) {
    width: 100%;
  }

  @media (max-width: $on-palm) {
    width: 115%;
    margin-left: -7%;
    margin-right: -8%;
  }

  p {
    display: none;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    animation: typing 3s steps(40, end);
    animation-fill-mode: forwards;

    &.visible {
      max-width: unset;
      display: inline-block;
    }

    @media (max-width: $on-palm) {
      display: block;
      width: auto;
      overflow: visible;
      animation: unset;
    }
  }

  &:after {
    content: "";
    height: 2em;
    display: block;
  }
}

// The typing effect

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
