// Typography Variables

$base-font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
$base-font-size: 16px;
$base-font-weight: normal;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.45;
$base-heading-line-height: 1.2;
$base-margin-bottom: 1em;

$spacing-unit: 2em;

$mono-font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;

// Color Variables

$text-color: #111;
$background-color: #fff;
$background-accent: #fff;

// Safety Orange

$accent-color: #FF3F00;

.color-accent {
  color: $accent-color;
}

.bg-accent {
  background: $accent-color;
}

// White

$white: #fff;

.color-white {
  color: $white;
}

.bg-white {
  background: $white;
}

// Black

$black: #000;

.color-black {
  color: $black;
}

// Grey

$grey: #666;

.color-grey {
  color: $grey;
}

$grey-table-borders: rgba($black, 0.1);

// Content Layout Variables

$content-width: 900px;
$on-palm: 736px;
