// Typography Variables

$base-font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
$base-font-size: 16px;
$base-font-weight: normal;
$medium-font-size: 14px;
$small-font-size: 12px;
$base-line-height: 1.45;
$base-heading-line-height: 1.2;
$base-margin-bottom: 1em;

$spacing-unit: 2em;

$mono-font-family: Consolas,Liberation Mono,Menlo,Courier,monospace;

// Color Variables

$text-color: #fff;
$background-color: #000;

// Ground Green

$accent-color: #111;

.color-accent {
  color: $accent-color;
}

.bg-accent {
  background: $accent-color;
}

// White

$white: #fff;

.color-white {
  color: $white;
}

.bg-white {
  background: $white;
}

// Black

$black: #000;

.color-black {
  color: $black;
}

.bg-black {
  background: $black;
}

// Grey

$grey: #666;

// Content Layout Variables

$content-width: 675px;
$on-palm: 736px;
