:root {
  --font-family-display: "hershey-futural", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-display-mono: "jgs5", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-bc-sans: "bc-sans", ui-sans-serif, system-ui, sans-serif;
  --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --white: #fff;
  --black: #000;
  --beige: #f5f5dc;
  --grey: #d2d2c8;
  --accent: #ff4433;
}

.text-accent {
  color: var(--accent);
}

.bg-accent {
  background-color: var(--accent);
}

.active\:bg-accent:active {
  background-color: var(--accent);
}

.active\:text-white:active {
  color: var(--white);
}

.text-white {
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

.bg-beige {
  background-color: var(--beige);
}

.bg-grey {
  background-color: var(--grey);
}

// Content Layout Variables

$content-width: 50rem;
$on-palm: 45rem;
