// Typography Variables

$base-font-family: nimbus sans l,helvetica neue,arial,sans-serif;
$base-font-size: 16px;
$base-font-weight: normal;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.45;
$base-heading-line-height: 1.2;
$base-margin-bottom: 1em;

$spacing-unit: 2em;

$mono-font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;

// Color Variables

$text-color: #111;
$background-color: #fff;
$background-accent: #fff;

// Safety Orange

$accent-color: #FF3F00;

// RGB Yellow

$yellow: #FFE100;

$white: #fff;
$black: #000;
$grey-color: #666;

$grey-color-table-borders: rgba($black, 0.1);

// Content Layout Variables

$content-width: 900px;
$on-palm: 736px;
