// Typography Variables

$base-font-family: "Cotham Sans", Helvetica, Arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: normal;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.4;
$base-heading-line-height: 1.2;
$base-margin-bottom: 1em;

$spacing-unit: 2em;

// Color Variables

$text-color: #111;
$background-color: #ffffff;
$background-accent: #d1e9e3;
$accent-color: darken($background-accent, 30%);

$white: #fff;
$black: #000;
$grey-color: #666;
$grey-color-light: lighten($grey-color, 40%);

// Content Layout Variables

$content-width: 900px;

$on-palm: 600px;
