// Typography Variables

$base-font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
$base-font-size: 16px;
$base-font-weight: normal;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$base-heading-line-height: 1.2;
$base-margin-bottom: 1em;

$spacing-unit: 2em;

// Color Variables

$text-color: #111;
$background-color: #fff;
$background-accent: #d1e9e3;
$accent-color: darken($background-accent, 50%);

$white: #fff;
$black: #000;
$grey-color: #666;
$grey-color-light: lighten($grey-color, 50%);

$grey-color-table-borders: rgba($black, 0.1);

// Content Layout Variables

$content-width: 900px;
$on-palm: 667px;
