// Recorded talks videos
.video-thumbnail {
  .video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
  }

  .video-play-graphic {
    width: 32px;
  }

  &:hover .video-overlay {
    opacity: 0;
  }
}

.video-links-container {
  border-top: 1px solid var(--black);
  padding-top: 1em;
}

.video-links-item {
  margin-bottom: 0.65em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
