// Recorded talks videos

.session-video-detail {
  border: 1px solid $grey-table-borders;

  .session-header {
    margin: 1em;
  }

  .session-heading-small {
    font-size: $small-font-size;
  }
}

.video-thumbnail {
  position: relative;

  .video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(#000, 0.3);
    opacity: 0.75;
    transition: opacity 200ms ease-in-out;
  }

  .video-play-graphic {
    width: 32px;
  }

  &:hover .video-overlay {
    opacity: 0;
  }
}

.video-caption {
  margin: 1em;
  font-size: $small-font-size;
}

.video-links-container {
  padding-top: 1em;
  border-top: 1px solid $grey-table-borders;
}

.video-links {
  padding: 0;
  margin: 0.75em 0 0;
  list-style: none;
}

.video-links-item {
  margin-bottom: 0.65em;
  overflow: hidden;
  color: $accent-color;
  text-overflow: ellipsis;
  white-space: nowrap;
}
