// Recorded talks videos

.video-grid {
  display: flex;
  flex-wrap: wrap;
}

.session-video-detail {
  margin-left: 0%;
  margin-right: 2%;
}

.video-caption {
  font-size: $small-font-size;
  margin-bottom: 1.35em;
}

.video-thumbnail {
  margin-top: 1.35em;
  margin-bottom: 1.35em;
}
