// Recorded talks videos

.session-video-detail {
  border: 1px solid $grey-table-borders;
}

.video-thumbnail {
  .video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba($accent-color, 0.8);
    opacity: 0.75;
  }

  .video-play-graphic {
    width: 32px;
  }

  &:hover .video-overlay {
    opacity: 0;
  }
}

.video-links-container {
  border-top: 1px solid $grey-table-borders;
}

.video-links-item {
  margin-bottom: 0.65em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
