<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% capture sitedescription %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
    <meta name="description" content="{{ sitedescription }}">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:site" content="@_ournetworks">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{ sitedescription }}">
    <meta name="twitter:image" content="{{ site.social_image | prepend: site.url }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:description" content="{{ sitedescription }}">
    <meta property="og:image" content="{{ site.social_image | prepend: site.url }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}?{{ site.time | date: '%s%N' }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  </head>
  <body>
    <main class="bg-white {% if page.fullWidth %}container-full-width{% else %}w-main{% endif%}">
    {% include nav.html %}
    {{ content }}
    {% include footer.html %}
    </main>
    <div class="bg-element fixed top-0 h-100 bg-accent right-0 overflow-hidden flex flex-justify-space-between flex-align-end flex-wrap flex-align-content-end">
      <div class="register-panel w-50 p-1">
        {% capture registrationInclude %}{% include registration-panel.html %}{% endcapture %}
        {{ registrationInclude | markdownify }}
      </div>
      <div class="mono text-right">
        <div class="container">
          <h1 class="fw-normal" id="clock-element">00:00:00</h1>
          <h2 class="fs-medium fw-normal mb-0">UTC-4</h2>
          <h3 class="fs-medium fw-normal mt-0">America/Toronto</h3>
        </div>
      </div>
    </div>
    <script async src="{{ '/js/main.js' | relative_url }}?{{ site.time | date: '%s%N' }}"></script>
  </body>
</html>
