<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
    </title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% capture sitedescription %}{% if page.excerpt %}{{ page.excerpt |
    strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description
    }}{% endif %}{% endcapture %}
    <meta name="description" content="{{ sitedescription }}" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:site" content="@_ournetworks" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="{{ site.url }}" />
    <meta name="twitter:description" content="{{ sitedescription }}" />
    <meta
      name="twitter:image"
      content="{{ site.social_image | prepend: site.
        url }}"
    />
    <meta
      name="twitter:image"
      content="{{ site.social_image | prepend: site.url }}"
    />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:description" content="{{ sitedescription }}" />
    <meta
      property="og:image:alt"
      content="ASCII mountains and clouds in the background with a laptop in the foreground and DOES NOT COMPUTE on the screen"
    />
    <meta
      property="og:image"
      content="{{ site.social_image | prepend: site.url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/css/main.css' | relative_url }}?{{ site.time | date: '%s%N' }}"
    />
    <link
      rel="canonical"
      href="{{ page.url | replace:'index.html','' | prepend: site.url }}"
    />
    {% if page.activity %}
      <link data-proofer-ignore href="{{ page.activity.url[0].href }}" rel="alternate" type="application/activity+json" />
    {% endif %}
    <meta property="profile:username" content="{{ site.activity_pub_profile }}" />
    {%- if site.actor -%}
      <link rel="me" href="{{ site.actor.url[0].href }}" />
    {%- endif -%}
  </head>
  <body class="bg-beige">
    <main class="max-w-prose mx-auto">
      {% include nav.html %} {{ content }} {% include footer.html %}
    </main>
    <script src="{{ '/js/vendor/asciiMorph.js' | relative_url }}"></script>
    <script
      async
      src="{{ '/js/main.js' | relative_url }}?{{ site.time | date: '%s%N' }}"
    ></script>
  </body>
</html>
