---
layout: default
---

<div class="container">
  <header>
    <h1 class="font-display text-sm">Our Networks 2024</h1>
    <h2 class="font-display text-4xl mt-0">Does not (cloud) compute</h2>
    <h3 class="font-display text-2xl">July 27, 2024</h3>
    <h4 class="font-display text-2xl mb-0">
      <a href="https://312main.ca/" target="_blank">312 Main</a>
    </h4>
    <h5 class="font-display text-2xl mt-0 mb-0">Vancouver, BC</h5>
  </header>
  <div>
    <pre role="img" aria-label="ASCII mountains and clouds in the background with a laptop in the foreground with NETWORK IS OPTIONAL and DOES NOT COMPUTE text on the screen" class="font-display-mono aliased text-10 max-w-prose overflow-hidden">
            .--..-.                        .--.  _.-.        
           (    )  )            ☼         (    )'    )       
         .-'       `-.     ☼            .-'.         `-.     
  _     (   _.-~-._)-'              __ (    )       )   )    
-~ ~-._ _.-~       ~-._..--~~--._.-~  ~~--..__-----' `-'     
    _.-~               ~-._ _.-~              ~~--..__  ___..
_.-~ ·      _____________ .          ~-._.                   
           |░░░░░░░░░░░░<span class="text-accent">×</span>|   ·.         ~-._     . .  ·· . . 
           <span class="screen"></span>
           |░░░░░░░░░░░░░|
            \\###########\\
             \      ___    \
              \_____\__\____\</pre>
  </div>
  <div class="max-w-prose">{{ content }}</div>
</div>

