---
layout: default
---
<div class="splash mb-2 flex">
  <div class="splash-hero pb-s w-50">
    <header>
      <h1 class="heading-display lh-09 mt-0 mb-0 authentic-condensed-60 uppercase overflow-wrap">Our Networks 2047 Redistributing the Future</h1>
      <div class="container">
        <h2 class="heading-3 mb-0 authentic-condensed-60">November 14&ndash;27, 2022</h2>
        <h2 class="heading-3 mb-0 mt-0 authentic-condensed-60">Online, Distributed</h2>
      </div>
   </header>
  </div>
  <div class="container w-50">
    {{ content }}
  </div>
</div>
