  <option value="UTC−12:00: Y"></option>
  <option value="UTC−11:00: X"></option>
  <option value="UTC−10:00: W"></option>
  <option value="UTC−09:30: V"></option>
  <option value="UTC−09:00: V"></option>
  <option value="UTC−08:00: U"></option>
  <option value="UTC−07:00: T"></option>
  <option value="UTC−06:00: S"></option>
  <option value="UTC−05:00: R"></option>
  <option value="UTC−04:00: Q: EDT: (America/Toronto)"></option>
  <option value="UTC−03:30: P"></option>
  <option value="UTC−03:00: P"></option>
  <option value="UTC−02:00: O"></option>
  <option value="UTC−01:00: N"></option>
  <option value="UTC±00:00: Z"></option>
  <option value="UTC+01:00: A"></option>
  <option value="UTC+02:00: B: CEST (Europe/Berlin)"></option>
  <option value="UTC+03:00: C"></option>
  <option value="UTC+03:30: C"></option>
  <option value="UTC+04:00: D"></option>
  <option value="UTC+04:30: D"></option>
  <option value="UTC+05:00: E"></option>
  <option value="UTC+05:30: E"></option>
  <option value="UTC+05:45: E"></option>
  <option value="UTC+06:00: F"></option>
  <option value="UTC+06:30: F"></option>
  <option value="UTC+07:00: G"></option>
  <option value="UTC+08:00: H"></option>
  <option value="UTC+08:45: H"></option>
  <option value="UTC+09:00: I: KST (Asia/Seoul)"></option>
  <option value="UTC+09:30: I"></option>
  <option value="UTC+10:00: K"></option>
  <option value="UTC+10:30: K"></option>
  <option value="UTC+11:00: L"></option>
  <option value="UTC+12:00: M"></option>
  <option value="UTC+12:45: M"></option>
  <option value="UTC+13:00: M"></option>
  <option value="UTC+14:00: M"></option>
