  <option value="UTC−12:00: Y">
  <option value="UTC−11:00: X">
  <option value="UTC−10:00: W">
  <option value="UTC−09:30: V">
  <option value="UTC−09:00: V">
  <option value="UTC−08:00: U">
  <option value="UTC−07:00: T">
  <option value="UTC−06:00: S">
  <option value="UTC−05:00: R">
  <option value="UTC−04:00: Q: EDT: (America/Toronto)">
  <option value="UTC−03:30: P">
  <option value="UTC−03:00: P">
  <option value="UTC−02:00: O">
  <option value="UTC−01:00: N">
  <option value="UTC±00:00: Z">
  <option value="UTC+01:00: A">
  <option value="UTC+02:00: B: CEST (Europe/Berlin)">
  <option value="UTC+03:00: C">
  <option value="UTC+03:30: C">
  <option value="UTC+04:00: D">
  <option value="UTC+04:30: D">
  <option value="UTC+05:00: E">
  <option value="UTC+05:30: E">
  <option value="UTC+05:45: E">
  <option value="UTC+06:00: F">
  <option value="UTC+06:30: F">
  <option value="UTC+07:00: G">
  <option value="UTC+08:00: H">
  <option value="UTC+08:45: H">
  <option value="UTC+09:00: I: KST (Asia/Seoul)">
  <option value="UTC+09:30: I">
  <option value="UTC+10:00: K">
  <option value="UTC+10:30: K">
  <option value="UTC+11:00: L">
  <option value="UTC+12:00: M">
  <option value="UTC+12:45: M">
  <option value="UTC+13:00: M">
  <option value="UTC+14:00: M">
