  <option value="UTC−12:00"></option>
  <option value="UTC−11:00: SST (Pacific/Pago_Pago)"></option>
  <option value="UTC−10:00: CKT (Pacific/Rarotonga)"></option>
  <option value="UTC−09:30"></option>
  <option value="UTC−09:00: GAMT (Pacific/Gambier)"></option>
  <option value="UTC−08:00: AKDT (America/Anchorage)"></option>
  <option value="UTC−07:00: PDT (America/Los_Angeles)"></option>
  <option value="UTC−06:00: MDT (America/Mazatlan)"></option>
  <option value="UTC−05:00: CDT (America/Mexico_City)"></option>
  <option value="UTC−04:00: EDT (America/Toronto)"></option>
  <option value="UTC−03:30"></option>
  <option value="UTC−03:00: ADT (American/Halifax)"></option>
  <option value="UTC−02:00"></option>
  <option value="UTC−01:00"></option>
  <option value="UTC±00:00: GMT"></option>
  <option value="UTC+01:00: WEST (Europe/Lisbon)"></option>
  <option value="UTC+02:00: CEST (Europe/Berlin)"></option>
  <option value="UTC+03:00: EEST (Europe/Athens)"></option>
  <option value="UTC+03:30"></option>
  <option value="UTC+04:00: GST (Asia/Dubai)"></option>
  <option value="UTC+04:30"></option>
  <option value="UTC+05:00"></option>
  <option value="UTC+05:30: IST (Asia/Kolkata)"></option>
  <option value="UTC+05:45:"></option>
  <option value="UTC+06:00: BST (Asia/Dhaka)"></option>
  <option value="UTC+06:30"></option>
  <option value="UTC+07:00"></option>
  <option value="UTC+08:00: CST (Asia/Shanghai)"></option>
  <option value="UTC+08:45"></option>
  <option value="UTC+09:00: KST (Asia/Seoul)"></option>
  <option value="UTC+09:30"></option>
  <option value="UTC+10:00: AEST (Australia/Sydney)"></option>
  <option value="UTC+10:30"></option>
  <option value="UTC+11:00: PONT (Pacific/Pohnpei)"></option>
  <option value="UTC+12:00: NZST (Pacific/Auckland)"></option>
  <option value="UTC+12:45"></option>
  <option value="UTC+13:00"></option>
  <option value="UTC+14:00"></option>
